.btn{
    margin-top: 10px;
    margin-left: 60px;
    width: 200px;
    height: 45px;
    border-radius: 5px;
    background-color: rgb(2, 2, 2);
    color: rgb(248, 248, 247);
    border-radius: 30px;
    font-weight: 600;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    line-height: 2.5;
    border: none;
}
.input{
    width: 20%;
    padding: 15px 0px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px black;
    border-radius: 4px;
    background-color: #3CBC8D;
    color: white;
    font-size: 16px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

