.category{
    margin-left: 0px;
}
.product__name{
    margin-left: 300px;
    margin-top: 30px;
    color: rgb(2, 2, 2);
}
.products{
    margin-top: 70px;
    
    display: flex;
    /* align-items: center; */
    /* flex-direction: row; */
    list-style-type: none; 
}
.products a{
    color: rgb(2, 2, 2);
    margin-left: 65px;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.products a:hover{
    font-size: 20px;  
}
.img{
    margin: 0 auto;
    width: 200px;
    height: 200px;
}
/* .img:hover{
    width: 220px;
} */
.btn{
    margin-top: 25px;
    margin-left: 10em;
    width: 200px;
    height: 45px;
    border-radius: 5px;
    background-color: rgb(2, 2, 2);
    color: rgb(248, 248, 247);
    border-radius: 30px;
    font-weight: 600;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    line-height: 2.5;
    border: none;
}
.btn:hover{
    background-color: rgb(65, 63, 63);
}
.input{
    width: 20%;
    padding: 15px 0px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px black;
    border-radius: 4px;
    background-color: gray;
    color: black;
    font-size: 16px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    
}

.btn1{
    margin-top: 30px;
    margin-left: 7em;
    width: 150px;
    height: 30px;
    border-radius: 5px;
    background-color: rgb(2, 2, 2);
    color: rgb(248, 248, 247);
    border-radius: 30px;
    font-weight: 300;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 2.5;
    border: none;
}
.pr{
    margin-left: 10em;
}
