<div class="container">
  <div class="header">
    <div class="header-logo-block">
      <img class="nike-logo" src="/assets/images/nike-logo.png"  alt="Nike logo">
      <h1 class="header-title">{{title}}</h1>
    </div>
  </div>
  
  <div class="router-block" style="background-color: white;">
    <router-outlet></router-outlet>
  </div>


  <div class="daily-source">
    <h2 class="section-title">Your Daily Source for Sport</h2>
    <div class="daily-image-blocks">
      <div class="daily-image-item">
        <img src = "https://static.nike.com/a/images/f_auto/dpr_2.0/w_569,c_limit/be228118-8a37-4b4a-9850-342eb18bf63a/nike-just-do-it.jpg">
      </div>
      <div class="daily-image-item">
        <img src = "https://static.nike.com/a/images/f_auto/dpr_2.0/w_569,c_limit/d2f5af59-7077-4cb2-af6d-f6ae34456d28/nike-just-do-it.jpg">
      </div>
      <div class="daily-image-item">
        <img src = "https://static.nike.com/a/images/f_auto/dpr_2.0/w_569,c_limit/d9564d2f-459f-4055-91e7-6cefd69225b0/nike-just-do-it.jpg">
      </div>
    </div>
    <div class="daily-down-blocks">
      <p class="together-paragraph">
        Let's Do This Together
      </p>

      <p style="text-align: center; margin-bottom: 40px; font: inherit; vertical-align: baseline;">
        Angela Manuel Davis, Nike’s Community Leader, and a team of
        <br>
        Nike Master Trainers want to help you #playinside every day.
      </p>

      <a href="https://www.nike.com/you-cant-stop-us" class="btn-link">
        Join us
      </a>
    </div>
  </div>




  <div class="join-member">
    <h2 class="section-title">Join the greatest team in sports to get the very best of Nike</h2>
    <div class="join-member-block">
      <div class="member-block">
        <div class="member-image">
            <img src="/assets/images/nikeplus-membership-first.jpg" class="img-adv"  alt="membership">
        </div>
        <div class="member-title">
          <p>Member Exclusive Products</p>
        </div>
        <div class="member-description">
            <p>Get Early Access to our latest drops, member-only products and your favorite gear reserved in your size.</p>
        </div>
      </div>
      <div class="member-block">
        <div class="member-image">
            <img src="/assets/images/nikeplus-membership-second.jpg" class="img-adv" alt="membership">
        </div>
        <div class="member-title">
          <p>Expert Guidance & Advice</p>
        </div>
        <div class="member-description">
            <p>Chat with real athletes with real answers to get recommendations on training and products.</p>
        </div>
      </div>
      <div class="member-block">
        <div class="member-image">
            <img src="/assets/images/nikeplus-membership-third.jpg" class="img-adv" alt="membership">
        </div>
        <div class="member-title">
          <p>Connect to Sport Anytime, Anywhere</p>
        </div>
        <div class="member-description">
            <p>Access over 100 on-the-go workouts, weekly challenges and personalized training plans.</p>
        </div>
      </div>
      <div class="member-block">
        <div class="member-image">
            <img src="/assets/images/nikeplus-membership-fourth.jpg" class="img-adv" alt="membership">
        </div>
        <div class="member-title">
          <p>One-of-a-Kind Experiences</p>
        </div>
        <div class="member-description">
            <p>From courtside to race day, get priority access to events and sessions you won't want to miss.</p>
        </div>
      </div>
    </div>
  </div>




  <div class="shopping-benefits">
    <h2 class="section-title">Your shopping benefits start at sign up</h2>
    <div class="shopping-benefits-block">
      <div class="member-block">
        <div class="member-image">
            <img src="/assets/images/nikeplus-membership-fifth.jpg" class="img-adv" alt="membership">
        </div>
        <div class="member-title">
          <p>Fast, Free Shipping</p>
        </div>
        <div class="member-description">
            <p>Free shipping always. Plus member-only pricing on expedited orders.</p>
        </div>
      </div>
      <div class="member-block">
        <div class="member-image">
            <img src="/assets/images/nikeplus-membership-sixth.jpg" class="img-adv" alt="membership">
        </div>
        <div class="member-title">
          <p>30-Day Wear Tests</p>
        </div>
        <div class="member-description">
            <p>Try it and love it -- or return it. No receipt needed.</p>
        </div>
      </div>
      <div class="member-block">
        <div class="member-image">
            <img src="/assets/images/nikeplus-membership-seventh.jpg" class="img-adv" alt="membership">
        </div>
        <div class="member-title">
          <p>In-Store All-Star Treatment</p>
        </div>
        <div class="member-description">
            <p>Enjoy express checkout, store-to-door delivery and special store hours.</p>
        </div>
      </div>
      <div class="member-block">
        <div class="member-image">
            <img src="/assets/images/nikeplus-membership-eighth.jpg" class="img-adv" alt="membership">
        </div>
        <div class="member-title">
          <p>Birthday Reward</p>
        </div>
        <div class="member-description">
            <p>Celebrate your big day with a special NikePlus Unlock.</p>
        </div>
      </div>
    </div>
    
  </div>

    <div class="footer">
      <div class="footer-column">
        <a class="main-footer-link" href="#">GIFT CARDS</a>
        <a class="main-footer-link" href="#">PROMOTIONS</a>
        <a class="main-footer-link" href="#">FIND A STORE</a>
        <a class="main-footer-link" href="#">SIGN UP FOR EMAIL</a>
        <a class="main-footer-link" href="#">BECOME A MEMBER</a>
        <a class="main-footer-link" href="#">SITE FEEDBACK</a>
      </div>
      <div class="footer-column">
        <a class="main-footer-link" href="#">GET HELP</a>
        <a class="footer-link" href="#">Order Status</a>
        <a class="footer-link" href="#">Shipping and Delivery</a>
        <a class="footer-link" href="#">Returns</a>
        <a class="footer-link" href="#">Payment Options</a>
        <a class="footer-link" href="#">Gift Card Balance</a>
        <a class="footer-link" href="#">Contact Us</a>
      </div>
      <div class="footer-column">
        <a class="main-footer-link" href="#">ABOUT NIKE</a>
        <a class="footer-link" href="#">News</a>
        <a class="footer-link" href="#">Careers</a>
        <a class="footer-link" href="#">Investors</a>
        <a class="footer-link" href="#">Purpose</a>
        <a class="footer-link" href="#">Sustainability</a>
        <a class="footer-link" href="#">CA Supply Chains Act</a>
      </div>

      <div class="line"></div>
      <div class="footer-row">
        <div class="">
          <a class="footer-link" href="#">© 2020 Nike, Inc. All Rights Reserved</a>
        </div>
        <div class="terms-row">
          <a class="footer-link" href="#">Guides</a>
          <a class="footer-link" href="#">Terms of Sale</a>
          <a class="footer-link" href="#">Terms of Use</a>
          <a class="footer-link" href="#">Nike Privacy Policy</a>
        </div>
      </div>
    </div>

</div>
  <!-- <div class="sign-section" style="width: 100%; height: 548x;">
    <img src="https://static.nike.com/a/images/f_auto/dpr_2.0/w_1690,c_limit/caf172c7-33ec-44e1-9d71-a5ed419014ea/nike-just-do-it.png" style="width: 100%; height: 100%;">
    <p class="sign-paragraph">Where All Athletes<br> Belong</p>
    <p style="position: absolute; bottom: 50px; left: 550px; font-size: 16px; font-weight: 400;">Access to the very best Nike products, inspiration and community.</p>
    <div class="sign-block">
      <div class="sign-in-block">
        <button class="btn sign-in">Sign in</button>
      </div> 
      <div class="sign-up-block">
        <button class="btn sign-up">Sign up</button>
      </div>
    </div>
  </div> -->