* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style: none;
}

.header {
    background-color: black;
    padding: 25px 0;
}

.header__container {
    width: 1170px;
    margin: 0 auto;
}

.title {
    color: #adadad;
    font-size: 20px;
    font-weight: 400;
}

.to-do-list {
    padding: 50px 0;
}

.container {
    width: 800px;
    margin: 0 auto;
}

.heading {
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 20px;
}
.input-box {
    width: 90%;
    margin: 0 auto 40px;
    display: flex;
    justify-content: space-between;
}

.input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #c4c1c1;
    outline: none;
    width: 90%;
}
.input:focus {
    border: 1px solid rgb(89, 91, 247);
} 

.btn {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgb(77, 80, 252);
    color: #fff;
    background-color: rgb(89, 91, 247);
    font-weight: 300;
    outline: none;
}
.btn:focus {
    border: 1px solid rgb(178, 179, 253);
}


.list {
    border-radius: 5px;
    border: 1px solid #c4c1c1;
}
.list__item {
    padding: 25px 15px;
    border-bottom: 1px solid #c4c1c1;
    display: flex;
    align-items: center;
    position: relative;
}
.list__item:last-child {
    border-bottom: none;
}
.checkbox {
    margin-right: 10px;
    cursor: pointer;
}

.line {
    position: relative;
}
.line::before {
    content: '';
    width: 100%;
    height: 1px;
    background-color: #000;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}
.delete-icon {
    display: inline-block;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    height: 20px;
    width: 17.5px;
    background-image: url('../img/trash.svg');
}
