* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(231, 235, 240);
}

a {
    text-decoration: none;
}

.main-section {
    position: relative;
}

.blue {
    height: 226px;
    background-color: #5682a3;
}

.form {
    /* position: absolute; */
    width: 404px;
    margin: -131px auto;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 23px 15px 22px;
    /* height: 75px; */
}

.navigation__img {
    display: flex;
    align-items: center;
}

.logo {
    width: 30px;
    height: 30px;
    margin-right: 18px;
    background-image: url('../img/sprite.png');
    background-size: 40px 948px;
    background-repeat: no-repeat;
    background-position: -5px -10px;
}

.telegram {
    width: 62px;
    height: 14px;
    display: inline-block;
    vertical-align: middle;
    background-image: url(../img/telegram.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
    margin-top: 1px;
}

.main-link a{
    color: #fff;
    font-size: 13px;
    padding-right: 24px;
    font-weight: 700;
    position: relative;
}
.main-link a::after {
    content: '';
    background-image: url(../img/sprite.png);
    background-repeat: no-repeat;
    background-position: -18px -50px;
    background-size: 40px 948px;
    width: 7px;
    height: 12px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.sign-in {
    background: #fff;
    padding: 44px 65px;
    box-shadow: 0 1px 1px rgba(97,127,152,.2), 1px 0 0 rgba(97,127,152,.1), -1px 0 0 rgba(97,127,152,.1);
    border-radius: 2px;
    border: 0;
    margin: 0;
    max-width: none;
}

.sign-in__heading {
    color: #222;
    margin: 0 0 20px;
    font-size: 15px;
    font-weight: 700;
    line-height: 1.1;
}

.text {
    color: #999;
    margin: 15px 0 30px;
    font-size: 13px;
    line-height: 160%;
}

.input-box {
    height: 50px;
    border-bottom: 1px solid #e6e6e6;
    padding: 0;
    margin: 0 0 22px;
}

.input {
    color: #000;
    background: #fff;
    display: inline-block;
    border: 0;
    outline: 0;
    font-size: 13px;
    padding: 3px 0;
    margin: 3px 0 0;
    width: 100%;
    resize: none;
    box-shadow: none;
}

.input-row {
    display: flex;
}

.code {
    width: 50px;
    margin-right: 25px;
}
.phone {
    display: flex;
    align-items: flex-end;
    width: 100%;
    padding-bottom: 3px;
}

.footer__text {
    text-align: center;
    margin: 0 0 10px;
    color: #84a2bc;
    line-height: 16px;
    margin-top: 25px;
    text-align: center;
}

.footer__link {
    text-align: center;
}

.footer__link a {
    color: #84a2bc;
    font-weight: 700;
}